* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arimo";
}
body {
    width: 100vw;
    height: 100vh;
}
@font-face {
    font-family: Arimo;
    src: url(assets/fonts/Arimo-VariableFont_wght.ttf);
}
.color-picker-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.color-picker-container h1 {
    margin: 0px 0 50px;
    font-size: 40px;
}
.color-display {
    width: 200px;
    height: 200px;
    border: 2px solid rgba(135, 135, 135, 0.8);

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 50px;
    border-radius: 25px;
}
.color-display p {
    font-size: large;
    color: rgba(135, 135, 135, 0.8);
}
.color-input {
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: larger;
    font-weight:bold;
}
.color-input>input {
    border-radius: 5px;
    border: 1px solid hsl(0, 19%, 77%);
    padding: 1px;
}